@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    font-family: "Montserrat"; 
    width: 100%;
    height: 100%;
    background:  #333;
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }
  
  hr {
    width: 6.625rem;
    height: 0.1875rem;
    background-color: #ffffff;
  margin-bottom: 5rem; }
  
  h2 {
    text-transform: uppercase;
    font-weight: 700; 
  color: white;
  text-align: center;
}
  
/* -----------------  INI HEADER  -------------------*/

video {
  opacity: 0.8; /* Aquí puedes ajustar la transparencia a tu gusto */
  position: absolute;
  top: 0;
  width: 105%;
  left: 0;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  background-color: black;
  z-index: -1; /* Asegura que el video esté detrás del contenido */
} 

.header__top {
  width: 60%;
  display: flex;
  justify-content: right; 
  align-items: center;
  z-index: 100;
}

p{
  color: white;
}

.header__top--responsive ul {
  float: left; }
  .header__top--responsive ul li .menu-bars {
    font-size: 2.4rem;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .header__top--responsive ul li .menu-bars:hover, .header__top--responsive ul li .menu-bars:active {
      color: #fdfdfd; }
  
.header__top-brand {
  color: #ffffff; }
  .header__top-brand .bold {
    text-transform: uppercase; }
  .header__top-brand h1 {
    font-size: 1.9rem;
    font-weight: 300;
    margin-bottom: 0.4rem; }
  .header__top-brand hr {
    margin: 0; }

.header__top-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .header__top-nav ul li {
    display: inline-block;
    margin-right: 2rem; }
    .header__top-nav ul li:last-child {
      margin-right: 0; }
    .header__top-nav ul li a {
      font-size: 1.25rem;
      color: #fff;
      line-height: 2.5rem;
      font-weight: 300;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .header__top-nav ul li a:hover, .header__top-nav ul li a:active {
        color: #cccccc;
        text-decoration: none; }

  header {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }
  
    nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;

    }
    a:hover {
      color: #232323;
    }
    
  .button--flex{
    display: flex;
    align-items: center;
  }

  .grid{
    display: grid;
    width: 90%;
    margin-left: 5%;
    margin-top: -1rem;
  }


  .header__content {
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    margin-top: 5rem;
    text-align: center; }
    .header__content p {
      line-height: 2.25rem; }
      .header__content p:first-child {
        line-height: 3.3rem; }
    .header__content .btn {
      margin-top: 3rem; }


  #contact {
    padding: 5rem 0;
    text-align: center; }
    #contact .lead {
      font-size: 1.85rem;
      font-weight: 700; }
    #contact p {
      font-size: 1.65rem;
      font-weight: 300; }
    #contact .text-animate {
      font-weight: 700; }
    #contact .btn {
      margin-top: 1.5rem;
      border: 2px solid #ffffff;
      color: #ffffff; }
      #contact .btn:hover {
        background-color: #232323;
        color: #ec6d6d; }


/* -----------------  FIN HEADER  ------------------*/
  
  @media (min-width: 47.9em) {
    .header__top--responsive {
      margin-top: -.75rem; }
    .header__top {
      padding-top: 3.5rem;
      margin-bottom: 10rem; }
    .header__content {
      font-size: 2rem; }
      .header__content .btn {
        padding: .6rem 1.7rem; }
    .header__arrow {
      margin-top: 12.85rem; } }
  
  @media (min-width: 61.9em) {
    .header__top {
      margin-bottom: 16rem; }
    .header__content {
      font-size: 2.5rem; }
      .header__content p {
        line-height: 2.45rem; } }
  
  @media (min-width: 74.9em) {
    .header__top {
      margin-bottom: 9.5rem; }
    .header__content {
      font-size: 3rem; }
      .header__content p {
        line-height: 2.95rem; }
      .header__content .btn {
        margin-top: 4rem;
        font-size: 1.2rem; }
    .header__arrow {
      margin-top: 12rem; } }

  @media (min-width: 47.9em) {
    #contact .lead {
      font-size: 2.05rem; }
    #contact p {
      font-size: 1.85rem; } }
  
  @media (min-width: 61.9em) {
    #contact .lead {
      font-size: 2.25rem; }
    #contact p {
      font-size: 2.05rem; } }
  
  @media (min-width: 74.9em) {
    #contact .lead {
      font-size: 2.45rem; }
    #contact p {
      font-size: 2.25rem; } }

    
  
/* -------------------  INI ABOUT  --------------------- */

  #about {
    padding: 5rem 15px;
    text-align: center; }
    #about img {
      width: 60%;
      height: 60%;
      border: 2px solid #ffffff;
      border-radius: 50%;
      padding: .2rem;
      margin-bottom: 2rem; }

    #about p {
      font-size: 1.25rem; }
    #about p + p {
      margin-bottom: 2rem; }
  
    .btn {
      border: 2px solid #232323;
      color: #f8f8f8; 
      padding: .5rem 1.5rem;
      border-radius: 0;
      color: #131111;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .btn:hover {
        background-color: #000000;
        color: #ffffff; 
      }


      .skills-container {
        margin-top: -1rem;
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        border-radius: 5px;
        text-align: center;
      }
      
      .skills-container h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: #0073a4;
      }
      
      .column-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .column {
        margin: 0.5rem;
      }
      
      ol {
        list-style-type: none;
        padding-left: 0;
      }
      
      .skill li:before {
        content: "\2022";
        color: #0073a4;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
      
      .skill li {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
      }
        

  @media (min-width: 47.9em) {
    #about {
      width: 85%;
      margin: 0 auto; }
      #about h2 {
        font-size: 2.2rem; }
      #about p {
        font-size: 1.45rem; }}
  
  @media (min-width: 61.9em) {
    #about {
      width: 80%; }
      #about h2 {
        font-size: 2.4rem; }
      #about p {
        font-size: 1.65rem; } }
  
  @media (min-width: 74.9em) {
    #about {
      width: 60%; }
      #about h2 {
        font-size: 2.6rem; }
      #about p {
        font-size: 1.85rem; }
      #about p + p {
        margin-bottom: 2.2rem; } }
/* --------------  END ABOUT  --------------- */


/* --------------  INIT SKILLS  --------------- */

  .skills-container{
    display: grid;
    grid-tempLate-columns: repeat(6, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    }
    
    .skills-box{
    padding: 1rem;
    color: #000;
    cursor:pointer;
    }
    
    .skills-box:hover > .skills-title: after, 
    .skills-box:hover > .skills-title: before{
    width: 30px;
    }
    
    .skills-box:hover .skills-img{
    transform: translateX(-20px);
    }
    
    .skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    }
    
    .skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    rigth: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #ec6d6d;
    transition: .5s;
    }
    
    .skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    width:100px;
    border-radius: 0 2px 2px 0;
    background-color: #ec6d6d;
    }
    
    .skills-icons{
    width:50px;
    z-index:2;
    }
    
    .skills-img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
    }
    
    .skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:50%;
    height:90px;
    border-radius: 45px 0 0 45px;
    }
    
    .skills-title h3{
    color: #ffffff;
    margin-top: 0.5rem;
    }
    
    @media screen and (max-width:990px){
    .skills-container{
    grid-tempLate-columns: repeat(2, 1fr);
    padding: 2rem 50px;
    }
    }
    
    @media screen and (max-width:650px){
    .skills-container{
    grid-tempLate-columns:2fr;
    padding: 2rem 50px;
    }
    }
  
    .other{
      font-family: 'Roboto', sans-serif;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 10rem;
      font-size: 1.5rem;
    }
    
    .txt-rotate{
      text-align: center justify;
      font-family: 'Roboto', sans-serif;
      position: relative;
      color: #ceb6b6;
    }
    
  
/* --------------  END SKILLS  --------------- */


/* --------------  INI EXPERIENCE  --------------- */


.back{
  background: whitesmoke;
  width: 120%;
  padding: 1rem;
  border-radius: 0;
  margin-bottom: 5rem;
  transform: rotate(3deg);
  margin-left: -10rem;
}

.hr_quali{
  background-color: #000000;
}


.qualification{
  width: 60%;
  margin: 1rem auto;
  padding-bottom: 5rem;
  margin-top: 8rem;
  transform: rotate(-3deg);

}

.section__title2{
  text-align: center;
  color: #000;
}

.qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;

}

.qualification__button{
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  padding: 6px;
  margin-right: 1rem;
  margin-left: 1rem;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.fa-bookmark:before{
  margin: 5px;
}
.fa-mortar-board:before, .fa-graduation-cap:before{
  margin: 5px;
}

.qualification__button {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1rem;
  padding: 0.8rem 2.2rem;
  transition: all 0.3s ease;
}

.qualification__button:hover {
  background-color: #3f51b5;
  color: #fff;
}

.qualification__button.active {
  background-color: #3f51b5;
  color: #fff;
}


.qualification__icon{
  font-size: 1.8rem !important;
}


.qualification__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title{
  font-size: 1.2rem;
  font-weight: 500;
}

.qualification__subtitle{
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.qualification__calendar{
  font-size: .75rem;
  color:#0073a4
}

.qualification__rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: rgb(14, 12, 12);
  border-radius: 50%;
  z-index: 2;
}

.qualification__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: #0c0c0c;
  transform: translate(6px, -7px);

}

.qualification [data-content]{
  display: none;
}

.qualification__active[data-content]{
  display: block;
}


.timeline-experience-img {
	float: left;
	width: 64px;
	height: 64px;
}


.timeline:before {
  content: '';
  position:absolute;
  height:100%;
  left:50%;
  width:2px;
  top:-20px;
  background:#020202;
  z-index:1;
}
.timeline{
  position:relative;
  margin: 50px auto;
  padding:50px 0;
}


.timeline ul{
  margin:0;
  padding:0 ;
}

.timeline ul li{
  list-style:none;
  box-sizing:border-box; 
  line-height:normal;
  position:relative;
  width:50%;
  padding: 40px 48px;
}

.timeline ul li .right_content h2{
  color:rgb(91, 118, 180);
  padding:0px 2px 18px 0px;
}


.timeline ul li:nth-child(odd){
  float:left;
  text-align:s;
  clear:both;
}

.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}

.left_content{
  padding-bottom:20px;
  font-style: oblique;
}

.timeline ul li:nth-child(odd):before{
  content: '';
  position:absolute;
  width:10px;
  height:10px;
  background:#ec6d6d;
  border-radius:50%;
  box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
  right:-6px;
  top:24px;
  z-index:1;
}

.timeline ul li:nth-child(even):before{
  content: '';
  position:absolute;
  width:10px;
  height:10px;
  background:#ec6d6d;
  border-radius:50%;
  box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
  left:-6px;
  top:24px;
  z-index: 5;
}

.timeline ul li:nth-child(odd) .left_content{
  position:absolute;
  top:12px;
  right:-178px;
  margin:0;
  padding:8px 16px;

  color:#000000;
  box-shadow:0 0 0 3px rgba(59,112,239,0.3);
  border-radius:18px;
  
}

.timeline ul li:nth-child(even) .left_content{
  position:absolute;
  top:12px;
  left:-195px;
  margin:0;
  padding:8px 16px;
  
  color:#000000;
  box-shadow:0 0 0 3px rgba(59,112,239,0.3);
  border-radius:18px;
  
}


.description_quali{
  color: #000;
    font-family: sans-serif;
  font-style: oblique;

}


@media (max-width: 1000px){
  
  .timeline{
    width:100%;
  }
}

@media (max-width: 767px){

  .qualification__button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  .back{
    width: 130%;
    margin-left: -4rem;
    transform: rotate(3deg);
  }
  .timeline{
    width:100%;
  }
  .timeline:before{
    left:20px;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even){
    width:100%;
    text-align:left;
    padding-left:50px; 
  }
  
  .timeline ul li:nth-child(odd):before
    {
    top:-18px;
    left:16px;
  
  }
  .timeline ul li:nth-child(even):before
  { 
    top:-18px;
    left:16px;
  }
  
    .timeline ul li:nth-child(odd) .left_content,
  .timeline ul li:nth-child(even) .left_content
  {
    top:-30px;
    left:50px;
    right:inherit;
  }

  .qualification{
    transform: rotate(-3deg);

  }

  
}

/* --------------  END EXPERIENCE  --------------- */




/* ------------ INIT of the PROYECTSS Icons --------------*/

.hold{
  display: flex;
  justify-content: center;
}

.snip1401 {
  font-family: 'Playfair Display', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 20px;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  text-align: right;
  font-size: 16px;
  background-color: #000000;
  z-index: 3;
}
.snip1401 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 img {
  max-width: 100%;
  backface-visibility: hidden;
  height: 100%;
}
.snip1401 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.snip1401 figcaption:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffffff transparent transparent;
}
.snip1401:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 h3 {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}

.snip1401 p{
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}
.snip1401 h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75;
}
.snip1401 p {
  font-size: 0.8em;
}

.snip1401 i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #ffffff;
  opacity: 0;
}
.snip1401 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1401:hover img,
.snip1401.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.p-proyect{
  color: #000;
  font-style: oblique;
}


.proyects2{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .snip1401 {
  width: 100%;
  height: 90%;
  margin-bottom: 2rem;
  }

  .snip1401 p{
    font-size: 0.7em;
  }

  .proyects2{
    margin-bottom: 12rem;

  }

}

@media screen and (max-width: 767px) {
  html, body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* ------------ END of the PROYECTSS Icons --------------*/



/* ------------- INI FOOTER ---------------- */

.buttonE{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}


footer {
  margin-top: 120px;
  margin-bottom:-10px;
  margin-left: -7px;
  height: 220px;
  background-color: #232323;
  text-align: center;
  color: #fff; 
}
  #footer p {
    font-size: .85rem; }
    #footer p a {
      color: #fff;
      text-decoration: underline;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      #footer p a:hover {
        color: #fdfdfd; }
    #footer p .fa-heart {
      color: red; }

      
@media (min-width: 47.9em) {
  #contact .lead {
    font-size: 2.05rem; }
  #contact p {
    font-size: 1.85rem; } }

@media (min-width: 61.9em) {
  #contact .lead {
    font-size: 2.25rem; }
  #contact p {
    font-size: 2.05rem; } }

@media (min-width: 74.9em) {
  #contact .lead {
    font-size: 2.45rem; }
  #contact p {
    font-size: 2.25rem; } }

/* ------------- END FOOTER ---------------- */

/* ----------- CSS of the Social Icons -----------*/
  ._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-envelope {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-envelope:hover {
    background-color: #a85339;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}
/* ------------ END of the Social Icons --------------*/

@media screen and (max-width: 767px) {
  .header__top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 105%;
    background-color: #333;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column; 
    height: calc(100vh - 70px); 
    transform-origin: 2s;
    overflow-y: auto; 

  }
  
  .nav__list li {
    margin-bottom: 20px;
    margin-top: 1rem;
  }
  
  .hamburger__menu {
    display: block;
    cursor: pointer;
  }
  
  .hamburger__menu-line {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
  }
  
  /* Estilos para el menú hamburguesa abierto */
  .nav__list.active {
    display: flex;
    align-items: center;
    transition: 1s;
  }
}

