@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    font-family: "Montserrat"; 
    width: 100%;
    height: 100%;
    background:  #333;
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
  }
  
  hr {
    width: 6.625rem;
    height: 0.1875rem;
    background-color: #ffffff;
  margin-bottom: 5rem; }
  
  h2 {
    text-transform: uppercase;
    font-weight: 700; 
    color: white;
    text-align: center;
    font-size: 3rem;
    font-family: "Helvetica Neue",;
}
  
/* -----------------  INI HEADER  -------------------*/

video {
  opacity: 0.8; /* Aquí puedes ajustar la transparencia a tu gusto */
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  background-color: black;
  z-index: -1; /* Asegura que el video esté detrás del contenido */
} 

.header__top {
  width: 60%;
  display: flex;
  justify-content: right; 
  align-items: center;
  z-index: 100;
}

p{
  color: white;
}

.header__top--responsive ul {
  float: left; }
  .header__top--responsive ul li .menu-bars {
    font-size: 2.4rem;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .header__top--responsive ul li .menu-bars:hover, .header__top--responsive ul li .menu-bars:active {
      color: #fdfdfd; }
  
.header__top-brand {
  color: #ffffff; }
  .header__top-brand .bold {
    text-transform: uppercase; }
  .header__top-brand h1 {
    font-size: 1.9rem;
    font-weight: 300;
    margin-bottom: 0.4rem; }
  .header__top-brand hr {
    margin: 0; }

.header__top-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .header__top-nav ul li {
    display: inline-block;
    margin-right: 2rem; }
    .header__top-nav ul li:last-child {
      margin-right: 0; }
    .header__top-nav ul li a {
      font-size: 1.25rem;
      color: #fff;
      line-height: 2.5rem;
      font-weight: 300;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .header__top-nav ul li a:hover, .header__top-nav ul li a:active {
        color: #cccccc;
        text-decoration: none; }

  header {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }
  
    nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;

    }
    a:hover {
      color: #232323;
    }
    
  .button--flex{
    display: flex;
    align-items: center;
  }

  .grid{
    display: grid;
    width: 90%;
    margin-left: 5%;
    margin-top: -1rem;
  }


  .header__content {
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    margin-top: 5rem;
    text-align: center; }
    .header__content p {
      line-height: 2.25rem; }
      .header__content p:first-child {
        line-height: 3.3rem; }
    .header__content .btn {
      margin-top: 3rem; }


  #contact {
    padding: 5rem 0;
    text-align: center; }
    #contact .lead {
      font-size: 1.85rem;
      font-weight: 700; }
    #contact p {
      font-size: 1.65rem;
      font-weight: 300; }
    #contact .text-animate {
      font-weight: 700; }
    #contact .btn {
      margin-top: 1.5rem;
      border: 2px solid #ffffff;
      color: #ffffff; }
      #contact .btn:hover {
        background-color: #232323;
        color: #ec6d6d; }

        

/* -----------------  FIN HEADER  ------------------*/
  
  @media (min-width: 47.9em) {
    .header__top--responsive {
      margin-top: -.75rem; }
    .header__top {
      padding-top: 3.5rem;
      margin-bottom: 10rem; }
    .header__content {
      font-size: 2rem; }
      .header__content .btn {
        padding: .6rem 1.7rem; }
    .header__arrow {
      margin-top: 12.85rem; } }
  
  @media (min-width: 61.9em) {
    .header__top {
      margin-bottom: 16rem; }
    .header__content {
      font-size: 2.5rem; }
      .header__content p {
        line-height: 2.45rem; } }
  
  @media (min-width: 74.9em) {
    .header__top {
      margin-bottom: 9.5rem; }
    .header__content {
      font-size: 3rem; }
      .header__content p {
        line-height: 2.95rem; }
      .header__content .btn {
        margin-top: 4rem;
        font-size: 1.2rem; 
        width: 10em;
        height: 3.2em;}
    .header__arrow {
      margin-top: 12rem; } }

  @media (min-width: 47.9em) {
    #contact .lead {
      font-size: 2.05rem; }
    #contact p {
      font-size: 1.85rem; } }
  
  @media (min-width: 61.9em) {
    #contact .lead {
      font-size: 2.25rem; }
    #contact p {
      font-size: 2.05rem; } }
  
  @media (min-width: 74.9em) {
    #contact .lead {
      font-size: 2.45rem; }
    #contact p {
      font-size: 2.25rem; } }

    
  
/* -------------------  INI ABOUT  --------------------- */

  #about {
    padding: 5rem 15px;
    text-align: center; }
    #about img {
      width: 60%;
      height: 60%;
      border: 2px solid #ffffff;
      border-radius: 50%;
      padding: .2rem;
      margin-bottom: -2rem;
      color: #fff;
      background: transparent;
      overflow: hidden;

      padding: 0.5em; }

    #about p {
      font-size: 1.25rem; }
    #about p + p {
      margin-bottom: 2rem; }
  
    .btn {
      padding: 0.1em 0.25em;
      width: 13em;
      height: 4.2em;
      background-color: #212121;
      border: 0.08em solid #fff;
      border-radius: 0.3em;
      font-size: 12px;
    }
    .btn span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0.4em;
      width: 8.25em;
      height: 2.5em;
      background-color: #212121;
      border-radius: 0.2em;
      font-size: 1.5em;
      color: #fff;
      border: 0.08em solid #fff;
      box-shadow: 0 0.4em 0.1em 0.019em #fff;
    }
    
    .btn span:hover {
      transition: all 0.5s;
      transform: translate(0, 0.4em);
      box-shadow: 0 0 0 0 #fff;
    }
    
    .btn span:not(hover) {
      transition: all 1s;
    }
    


      .skills-container {
        margin-top: -1rem;
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        border-radius: 5px;
        text-align: center;
      }
      
      .skills-container h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: #0073a4;
      }
      
      .column-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .column {
        margin: 0.5rem;
      }
      
      ol {
        list-style-type: none;
        padding-left: 0;
      }
      
      .skill li:before {
        content: "\2022";
        color: #0073a4;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
      
      .skill li {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
      }
        

  @media (min-width: 47.9em) {
    #about {
      width: 85%;
      margin: 0 auto; }
      #about h2 {
        font-size: 2.2rem; }
      #about p {
        font-size: 1.45rem; }}
  
  @media (min-width: 61.9em) {
    #about {
      width: 80%; }
      #about h2 {
        font-size: 2.4rem; }
      #about p {
        font-size: 1.65rem; } }
  
  @media (min-width: 74.9em) {
    #about {
      width: 60%; }
      #about h2 {
        font-size: 2.6rem; }
      #about p {
        font-size: 1.85rem; }
      #about p + p {
        margin-bottom: 2.2rem; } }
/* --------------  END ABOUT  --------------- */


/* --------------  INIT SKILLS  --------------- */

  .skill{
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  .skills-container{
    display: grid;
    grid-tempLate-columns: repeat(6, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    }
    
    .skills-box{
    padding: 1rem;
    color: #000;
    cursor:pointer;
    }
    
    .skills-box:hover > .skills-title: after, 
    .skills-box:hover > .skills-title: before{
    width: 30px;
    }
    
    .skills-box:hover .skills-img{
    transform: translateX(-20px);
    }
    
    .skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    }
    
    .skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    rigth: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #ec6d6d;
    transition: .5s;
    }
    
    .skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    width:100px;
    border-radius: 0 2px 2px 0;
    background-color: #ec6d6d;
    }
    
    .skills-icons{
    width:50px;
    z-index:2;
    }
    
    .skills-img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
    }
    
    .skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:50%;
    height:90px;
    border-radius: 45px 0 0 45px;
    }
    
    .skills-title h3{
    color: #ffffff;
    margin-top: 0.5rem;
    }
    
    @media screen and (max-width:990px){
    .skills-container{
    grid-tempLate-columns: repeat(2, 1fr);
    padding: 2rem 50px;
    }
    }
    
    @media screen and (max-width:650px){
    .skills-container{
    grid-tempLate-columns:2fr;
    padding: 2rem 50px;
    }
    }
  
    .other{
      font-family: 'Roboto', sans-serif;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 10rem;
      font-size: 1.5rem;
    }
    
    .txt-rotate{
      text-align: center justify;
      font-family: 'Roboto', sans-serif;
      position: relative;
      color: #ceb6b6;
    }
    
  
/* --------------  END SKILLS  --------------- */


/* --------------  INI EXPERIENCE  --------------- */


.back{
  background: whitesmoke;
  width: 120%;
  padding: 1rem;
  border-radius: 0;
  margin-bottom: 5rem;
  transform: rotate(3deg);
  margin-left: -10rem;
  height: 70rem;
}

.hr_quali{
  background-color: #000000;
}


.qualification{
  width: 60%;
  margin: 1rem auto;
  padding-bottom: 5rem;
  margin-top: 8rem;
  transform: rotate(-3deg);

}

.section__title2{
  text-align: center;
  color: #000;
}

.qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;

}


.fa-bookmark:before{
  margin: 5px;
}
.fa-mortar-board:before, .fa-graduation-cap:before{
  margin: 5px;
}

.qualification__button {
  background-color: #333;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1rem;
  padding: 0.8rem 2.2rem;
  transition: all 0.3s ease;
}

.qualification__button:hover {
  background-color: #642c2c;
  color: #fff;
}

.qualification__button.active {
  background-color: #642c2c;
  color: #fff;
}


.qualification__icon{
  font-size: 1.8rem !important;
}


.qualification__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title{
  font-size: 1.2rem;
  font-weight: 500;
}

.qualification__subtitle{
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.qualification__calendar{
  font-size: .75rem;
  color:#642c2c
}

.qualification__rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: rgb(14, 12, 12);
  border-radius: 50%;
  z-index: 2;
}


.qualification [data-content]{
  display: none;
}

.qualification__active[data-content]{
  display: block;
}


.description_quali{
  color: #000;
    font-family: sans-serif;
  font-style: oblique;
  margin-left: 60px;
}


@media (max-width: 1000px){
  
  .timeline{
    width:100%;
  }
}

@media (max-width: 767px){

  h2{
    font-size: 2rem;
  }

  .other{
    font-size: 1.3rem;
  }

  .back{
    margin-left: -3px;
  }

  .qualification__button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  .back{
    width: 130%;
    margin-left: -4rem;
    transform: rotate(3deg);
  }
  .qualification{
    transform: rotate(-3deg);
  }
  
}

/* --------------  END EXPERIENCE  --------------- */




/* ------------ INIT of the PROYECTSS Icons --------------*/

.hold{
  display: flex;
  justify-content: center;
}

.snip1401 {
  font-family: 'Playfair Display', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 20px;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  text-align: right;
  font-size: 16px;
  background-color: #000000;
  z-index: 3;
  box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, 
  rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, 
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
  rgba(0, 0, 0, 0.06) 0px 2px 1px, 
  rgba(255, 255, 255, 0.09) 0px 4px 2px, 
  rgba(255, 255, 255, 0.09) 0px 8px 4px, 
  rgba(255, 255, 255, 0.09) 0px 16px 8px, 
  rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

  .snip1401 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 img {
  backface-visibility: hidden;
  width: auto;
  height: 100%;
  object-fit: cover;}

.snip1401 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;}

.snip1401 figcaption:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffffff transparent transparent;
}
.snip1401:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 h3 {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}

.snip1401 p{
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}
.snip1401 h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75;
}
.snip1401 p {
  font-size: 0.8em;
}

.snip1401 i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #ffffff;
  opacity: 0;
}
.snip1401 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1401:hover img,
.snip1401.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.p-proyect{
  color: #000;
  font-style: oblique;
  padding-bottom: 2px;
}


.proyects2{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .snip1401 {
  width: 100%;
  height: 90%;
  margin-bottom: 2rem;
  }

  .snip1401 p{
    font-size: 0.7em;
  }

}

@media screen and (max-width: 767px) {
  html, body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* ------------ END of the PROYECTSS Icons --------------*/



/* ------------- INI FOOTER ---------------- */

.buttonE{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}


footer {
  margin-top: 165px;
  margin-bottom:-10px;
  margin-left: -7px;
  height: 220px;
  background-color: #232323;
  text-align: center;
  color: #fff; 
}
  #footer p {
    font-size: .85rem; }
    #footer p a {
      color: #fff;
      text-decoration: underline;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      #footer p a:hover {
        color: #fdfdfd; }
    #footer p .fa-heart {
      color: red; }

      
@media (min-width: 47.9em) {
  #contact .lead {
    font-size: 2.05rem; }
  #contact p {
    font-size: 1.85rem; } }

@media (min-width: 61.9em) {
  #contact .lead {
    font-size: 2.25rem; }
  #contact p {
    font-size: 2.05rem; } }

@media (min-width: 74.9em) {
  #contact .lead {
    font-size: 2.45rem; }
  #contact p {
    font-size: 2.25rem; } }

/* ------------- END FOOTER ---------------- */

/* ----------- CSS of the Social Icons -----------*/
  ._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-envelope {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-envelope:hover {
    background-color: #a85339;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}
/* ------------ END of the Social Icons --------------*/

@media screen and (max-width: 767px) {
  .header__top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 105%;
    background-color: #333;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column; 
    height: calc(100vh - 70px); 
    transform-origin: 2s;
    overflow-y: auto; 
    z-index: 100;

  }
  
  .nav__list li {
    margin-bottom: 20px;
    margin-top: 1rem;
  }
  
  .hamburger__menu {
    display: block;
    cursor: pointer;
  }
  
  .hamburger__menu-line {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
  }
  
  /* Estilos para el menú hamburguesa abierto */
  .nav__list.active {
    display: flex;
    align-items: center;
    transition: 1s;
  }
}

.btnc {
  padding: 0.8em 1.8em;
  border: 2px solid #ec6d6d;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #ffffff;
}

.btnc::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ec6d6d;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.btnc:hover::before {
  width: 105%;
}

.btnc:hover {
  color: #000000;
}



@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);



header h1{
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}
  
header p{
  text-align: center;
  margin-bottom: 0;
}


/* --- Qualification --- */

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #ec6d6d;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #ec6d6d;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #ec6d6d;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #ec6d6d;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}


.outerCircle {
background-color: transparent;
border: 10px solid rgba(196, 98, 98, 0.9);
opacity: .9;
border-right: 5px solid transparent;
border-left: 5px solid transparent;
border-radius: 223px;
width: 413px;
height: 413px;
margin: 0 auto;
-moz-animation: spinPulse 3s infinite ease-in-out;
-webkit-animation: spinPulse 3s infinite ease-in-out;
}
.innerCircle {
background-color: transparent;
opacity: .9;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-radius: 100px;
top: -410px;
width: 80%;
height: 80%;
margin: 0 auto;
position: relative;
-moz-animation: spinoffPulse 1s infinite linear;

}


@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes rotatecircle {
    0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}

@-webkit-keyframes rotatecircle {
    0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}

.imgme{
  margin-bottom: -18rem;
}